In [1]:
import pandas as pd

four50kfile='test_head/2e21525a-20a5-4b57-92df-d1c22c95a14a.methylation_array.sesame.level3betas.txt'




mapperfile='HM450.hg38.manifest.txt'
outfile=four50kfile+"_WGBS.txt"




mapperdf=pd.read_csv(mapperfile,sep='\t',dtype='str')
mapperdf.head()

,CpG_chrm,CpG_beg,CpG_end,probe_strand,probeID,address_A,address_B,channel,designType,nextBase,...,MASK_typeINextBaseSwitch,MASK_rmsk15,MASK_sub40_copy,MASK_sub35_copy,MASK_sub30_copy,MASK_sub25_copy,MASK_snp5_common,MASK_snp5_GMAF1p,MASK_extBase,MASK_general
0,chr1,15864,15866,-,cg13869341,62703328,16661461,Red,I,A,...,FALSE,FALSE,TRUE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE
1,chr1,18826,18828,-,cg14008030,27651330,NaN,Both,II,G/A,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
2,chr1,29406,29408,-,cg12045430,25703424,34666387,Red,I,A,...,FALSE,FALSE,FALSE,TRUE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE
3,chr1,29424,29426,-,cg20826792,61731400,14693326,Red,I,T,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE
4,chr1,29434,29436,-,cg00381604,26752380,50693408,Red,I,A,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE

In [2]:
four50kdf=pd.read_csv(four50kfile,sep='\t',header=None,names=['probeID','value'],dtype='str')

four50kdf.head()

      probeID               value
0  cg07549526                 NaN
1  cg16670573                 NaN
2  cg09969830  0.0133415338874821
3  cg00179196   0.945098974429627
4  cg03948744  0.0336587165194125

In [3]:
four50kdfmerged=four50kdf.merge(mapperdf,on='probeID',how='inner')

In [4]:
outdf=four50kdfmerged[['CpG_chrm','CpG_beg','CpG_end','value']]
outdf=outdf.dropna()
outdf.head()

  CpG_chrm CpG_beg CpG_end               value
2    chr16   53645   53647  0.0133415338874821
3    chr16   67935   67937   0.945098974429627
4    chr16   72564   72566  0.0336587165194125
5    chr16   77772   77774    0.21961401803648
6    chr16   78016   78018   0.021904147245717

In [5]:
outdf.to_csv(outfile,sep='\t',index=False,header=False)