In [1]:
import pandas as pd

In [2]:
infile="/Users/irffanalahi/Research/weekly/for_1_21_21/smwithna/genomicfeature2/promdataready_all_matrixCinScaled_inverted_nr0.5_hypo_stat.txt_0.1_0.5_g50.txt_assigned.txt"
out=infile+"_bg"
infiledf=pd.read_csv(infile,sep="\t")
infiledf.head()

         position       celltype
0   chrX:92459728  ['MEL_TUMOR']
1  chr9:125012942  ['MEL_TUMOR']
2   chr3:42922140  ['MEL_TUMOR']
3  chr5:137538755  ['MEL_TUMOR']
4   chr3:77164551  ['MEL_TUMOR']

In [3]:
infiledf[['chrom','pos']] = infiledf.position.str.split(":",expand=True) 
infiledf['pos']=infiledf['pos'].astype(int)
infiledf.head()

         position       celltype chrom        pos
0   chrX:92459728  ['MEL_TUMOR']  chrX   92459728
1  chr9:125012942  ['MEL_TUMOR']  chr9  125012942
2   chr3:42922140  ['MEL_TUMOR']  chr3   42922140
3  chr5:137538755  ['MEL_TUMOR']  chr5  137538755
4   chr3:77164551  ['MEL_TUMOR']  chr3   77164551

In [4]:
infiledf['start']=infiledf['pos']-1
infiledf['end']=infiledf['pos']+1
infiledf.head()

         position       celltype chrom        pos      start        end
0   chrX:92459728  ['MEL_TUMOR']  chrX   92459728   92459727   92459729
1  chr9:125012942  ['MEL_TUMOR']  chr9  125012942  125012941  125012943
2   chr3:42922140  ['MEL_TUMOR']  chr3   42922140   42922139   42922141
3  chr5:137538755  ['MEL_TUMOR']  chr5  137538755  137538754  137538756
4   chr3:77164551  ['MEL_TUMOR']  chr3   77164551   77164550   77164552

In [5]:
infiledf=infiledf.drop(['position','pos'],axis=1)
infiledf.head()

        celltype chrom      start        end
0  ['MEL_TUMOR']  chrX   92459727   92459729
1  ['MEL_TUMOR']  chr9  125012941  125012943
2  ['MEL_TUMOR']  chr3   42922139   42922141
3  ['MEL_TUMOR']  chr5  137538754  137538756
4  ['MEL_TUMOR']  chr3   77164550   77164552

In [6]:
infiledf=infiledf[['chrom','start','end','celltype']]
infiledf.head()

  chrom      start        end       celltype
0  chrX   92459727   92459729  ['MEL_TUMOR']
1  chr9  125012941  125012943  ['MEL_TUMOR']
2  chr3   42922139   42922141  ['MEL_TUMOR']
3  chr5  137538754  137538756  ['MEL_TUMOR']
4  chr3   77164550   77164552  ['MEL_TUMOR']

In [7]:
infiledf.to_csv(out,sep="\t",index=False)
print("done")

done