In [1]:
import pandas as pd

In [2]:
infile="/Users/irffanalahi/Research/weekly/for_12_31_20/sm_gene_analysis/melanoma-Tumor-PBMC-WGBS_bg_rolled_all_matrix_NO_NA_mat_Ciberin_scaled_inverted_hypo_stat.txt_0.01_2_g300.txt_assigned.txt"
out=infile+"_bg"
infiledf=pd.read_csv(infile,sep="\t")
infiledf.head()

         position      celltype
0  chr10:26567006  ['melTumor']
1  chr18:38078713  ['melTumor']
2  chr16:70954373  ['melTumor']
3  chr18:15723022  ['melTumor']
4  chr16:80712452  ['melTumor']

In [3]:
infiledf[['chrom','pos']] = infiledf.position.str.split(":",expand=True) 
infiledf['pos']=infiledf['pos'].astype(int)
infiledf.head()

         position      celltype  chrom       pos
0  chr10:26567006  ['melTumor']  chr10  26567006
1  chr18:38078713  ['melTumor']  chr18  38078713
2  chr16:70954373  ['melTumor']  chr16  70954373
3  chr18:15723022  ['melTumor']  chr18  15723022
4  chr16:80712452  ['melTumor']  chr16  80712452

In [4]:
infiledf['start']=infiledf['pos']-1
infiledf['end']=infiledf['pos']+1
infiledf.head()

         position      celltype  chrom       pos     start       end
0  chr10:26567006  ['melTumor']  chr10  26567006  26567005  26567007
1  chr18:38078713  ['melTumor']  chr18  38078713  38078712  38078714
2  chr16:70954373  ['melTumor']  chr16  70954373  70954372  70954374
3  chr18:15723022  ['melTumor']  chr18  15723022  15723021  15723023
4  chr16:80712452  ['melTumor']  chr16  80712452  80712451  80712453

In [5]:
infiledf=infiledf.drop(['position','pos'],axis=1)
infiledf.head()

       celltype  chrom     start       end
0  ['melTumor']  chr10  26567005  26567007
1  ['melTumor']  chr18  38078712  38078714
2  ['melTumor']  chr16  70954372  70954374
3  ['melTumor']  chr18  15723021  15723023
4  ['melTumor']  chr16  80712451  80712453

In [6]:
infiledf=infiledf[['chrom','start','end','celltype']]
infiledf.head()

   chrom     start       end      celltype
0  chr10  26567005  26567007  ['melTumor']
1  chr18  38078712  38078714  ['melTumor']
2  chr16  70954372  70954374  ['melTumor']
3  chr18  15723021  15723023  ['melTumor']
4  chr16  80712451  80712453  ['melTumor']

In [7]:
infiledf.to_csv(out,sep="\t",index=False)
print("done")

done