In [1]:
import pandas as pd

In [2]:

##### param#####

infile="/Users/irffanalahi/Research/Research_code/gitignorefolder/dataformonod2analysis/forchangingBlockValue/testinhead/CD4-PBMC-1382_head.bedgraph_rolled_pathological2.bedgraph"

outfile=infile+"_meanbased"



mincutoff=0.25  # if mhb <mincutoff set to 0
maxcutoff=0.75  #if mhb >maxcutoff set to 1

mincpg=3

In [3]:
df=pd.read_csv(infile,sep="\t",header=None)

df.head()

      0       1       2      3     4       5       6
0  chr1  268036  268038  0.300  chr1  268036  268067
1  chr1  268042  268044  0.100  chr1  268036  268067
2  chr1  268050  268052  0.200  chr1  268036  268067
3  chr1  629090  629092  0.876  chr1  629090  629153
4  chr1  629114  629116  1.000  chr1  629090  629153

In [4]:
df = df.rename(columns={0: "CpGchr",1:"CpGstart",2:"CpGend",3:"CpGval",4:"MHBchr",5:"MHBstart",6:"MHBend" })
df.head()

  CpGchr  CpGstart  CpGend  CpGval MHBchr  MHBstart  MHBend
0   chr1    268036  268038   0.300   chr1    268036  268067
1   chr1    268042  268044   0.100   chr1    268036  268067
2   chr1    268050  268052   0.200   chr1    268036  268067
3   chr1    629090  629092   0.876   chr1    629090  629153
4   chr1    629114  629116   1.000   chr1    629090  629153

In [5]:
df=df.drop(["CpGchr","CpGstart","CpGend"],axis=1)
df.head()

   CpGval MHBchr  MHBstart  MHBend
0   0.300   chr1    268036  268067
1   0.100   chr1    268036  268067
2   0.200   chr1    268036  268067
3   0.876   chr1    629090  629153
4   1.000   chr1    629090  629153

In [6]:
df=(df.groupby(["MHBchr","MHBstart","MHBend"]).filter(lambda x: len(x["CpGval"]) >= mincpg))
print(df.head())
df=df.groupby(["MHBchr","MHBstart","MHBend"]).mean().reset_index()
df.head()

   CpGval MHBchr  MHBstart  MHBend
0   0.300   chr1    268036  268067
1   0.100   chr1    268036  268067
2   0.200   chr1    268036  268067
3   0.876   chr1    629090  629153
4   1.000   chr1    629090  629153

  MHBchr  MHBstart  MHBend  CpGval
0   chr1    268036  268067  0.2000
1   chr1    629090  629153  0.8352
2   chr1    631342  631432  0.5000

In [7]:
df.loc[df["CpGval"]<mincutoff,"CpGval"]=0
df.loc[df["CpGval"]>maxcutoff,"CpGval"]=1
df.head()

  MHBchr  MHBstart  MHBend  CpGval
0   chr1    268036  268067     0.0
1   chr1    629090  629153     1.0
2   chr1    631342  631432     0.5

In [8]:
outdf=df[(df.CpGval == 1) | (df.CpGval == 0)]
outdf.head()

  MHBchr  MHBstart  MHBend  CpGval
0   chr1    268036  268067     0.0
1   chr1    629090  629153     1.0

In [9]:
outdf.to_csv(outfile,sep="\t",index=False,header = False)