In [1]:
import pandas as pd
infile="/Users/irffanalahi/Research/Research_code/gitignorefolder/metpostprocess/troubleshhoting/BLthirteen_all_matrixCin_nr0.5_imputed_rowmean_head1000.txt"
out="/Users/irffanalahi/Research/Research_code/gitignorefolder/metpostprocess/troubleshhoting/BLthirteen_all_matrixCin_nr0.5_imputed_rowmean_head1000.bg"
infiledf=pd.read_csv(infile,sep="\t")
infiledf.head()

,position,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,chrom,pos
0,chr1:13528,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528
1,chr1:14354,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354
2,chr1:14435,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435
3,chr1:14469,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469
4,chr1:14486,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486

In [2]:
infiledf[['anotherchrom','anotherpos']] = infiledf.position.str.split(":",expand=True) 
infiledf['anotherpos']=infiledf['anotherpos'].astype(int)
infiledf.head()

,position,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,chrom,pos,anotherchrom,anotherpos
0,chr1:13528,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528,chr1,13528
1,chr1:14354,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354,chr1,14354
2,chr1:14435,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435,chr1,14435
3,chr1:14469,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469,chr1,14469
4,chr1:14486,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486,chr1,14486

In [3]:
infiledf['start']=infiledf['anotherpos']-1
infiledf['end']=infiledf['anotherpos']+1
infiledf.head()

,position,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,chrom,pos,anotherchrom,anotherpos,start,end
0,chr1:13528,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528,chr1,13528,13527,13529
1,chr1:14354,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354,chr1,14354,14353,14355
2,chr1:14435,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435,chr1,14435,14434,14436
3,chr1:14469,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469,chr1,14469,14468,14470
4,chr1:14486,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486,chr1,14486,14485,14487

In [4]:
infiledf=infiledf.drop(['position','anotherpos'],axis=1)
infiledf.head()

,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,chrom,pos,anotherchrom,start,end
0,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528,chr1,13527,13529
1,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354,chr1,14353,14355
2,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435,chr1,14434,14436
3,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469,chr1,14468,14470
4,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486,chr1,14485,14487

In [5]:
first_column = infiledf.pop('anotherchrom')
second_column = infiledf.pop('start')
third_column = infiledf.pop('end')
infiledf.rename(columns={"chrom": "shouldbechrom"},inplace=True)
infiledf.head()

,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,shouldbechrom,pos
0,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528
1,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354
2,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435
3,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469
4,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486

In [6]:
infiledf.shape

(999, 15)

In [7]:
infiledf.insert(0, 'chrom', first_column)
infiledf.insert(1, 'start', second_column)
infiledf.insert(2, 'end', third_column)
infiledf.head()

,chrom,start,end,CD4,CD8,nB,NK,PC,Mn,iDC,mDC,M1,M0,mN,M2,cB,shouldbechrom,pos
0,chr1,13527,13529,0.500667,0.518333,0.174000,0.322667,0.505000,0.166500,0.2500,0.150000,0.047667,0.087333,0.019000,0.147000,0.500667,chr1,13528
1,chr1,14353,14355,0.863500,0.853667,0.851500,0.792000,0.797333,1.000000,0.4165,1.000000,0.754333,0.749667,0.694000,0.751667,0.760000,chr1,14354
2,chr1,14434,14436,0.895000,0.884667,0.972333,0.879333,0.601333,0.785667,0.7500,0.904667,0.750333,0.840333,0.765000,0.783000,0.817667,chr1,14435
3,chr1,14468,14470,0.872000,0.935333,0.948333,0.971333,0.958000,1.000000,0.9445,0.958333,0.799333,0.887000,0.872667,0.838667,0.948333,chr1,14469
4,chr1,14485,14487,0.928000,0.925000,0.961000,0.909333,0.778000,0.822333,0.8390,0.933333,0.787667,0.809000,0.774667,0.773333,0.863333,chr1,14486

In [8]:
infiledf.shape

(999, 18)

In [9]:
infiledf.to_csv(out,sep="\t",index=False)
print("done")

done