In [1]:
import numpy as np
import pandas as pd
import pybedtools
import sys

file ='test/ENCFF182DUG_head.bed.txt' #sys.argv[1]
outfol ='test_final2' #sys.argv[2]
interfol ='test_inter2' #sys.argv[3]
a = pybedtools.BedTool(file)

In [2]:
c = a.merge(c=11, o='mean')
file_name = interfol + '/' + file.split('/')[-1]
d = c.saveas(file_name)

In [3]:
df = pd.read_csv(file_name, sep='\t', names=['chr', 'start', 'end', 'met'])

In [4]:
df.head()

    chr  start    end    met
0  chr1  15719  15721    0.0
1  chr1  15748  15750  100.0
2  chr1  15768  15770  100.0
3  chr1  15788  15790  100.0
4  chr1  15833  15835  100.0

In [5]:
a.head()

chr1	15719	15720	"0"	1	+	15719	15720	0,255,0	1	0	CG	CG	3
 chr1	15720	15721	"0"	1	-	15720	15721	0,255,0	1	0	CG	CG	3
 chr1	15748	15749	"0"	1	+	15748	15749	255,0,0	1	100	CG	CG	4
 chr1	15749	15750	"0"	1	-	15749	15750	255,0,0	1	100	CG	CG	4
 chr1	15768	15769	"0"	1	+	15768	15769	255,0,0	1	100	CG	CG	4
 chr1	15769	15770	"0"	1	-	15769	15770	255,0,0	1	100	CG	CG	4
 chr1	15788	15789	"0"	1	+	15788	15789	255,0,0	1	100	CG	CG	4
 chr1	15789	15790	"0"	1	-	15789	15790	255,0,0	1	100	CG	CG	4
 chr1	15833	15834	"0"	1	+	15833	15834	255,0,0	1	100	CG	CG	4
 chr1	15834	15835	"0"	1	-	15834	15835	255,0,0	1	100	CG	CG	4

In [6]:
adf = pd.read_table(a.fn,header=None)
adf.head()

     0      1      2   3   4  5      6      7        8   9    10  11  12  13
0  chr1  15719  15720   0   1  +  15719  15720  0,255,0   1    0  CG  CG   3
1  chr1  15720  15721   0   1  -  15720  15721  0,255,0   1    0  CG  CG   3
2  chr1  15748  15749   0   1  +  15748  15749  255,0,0   1  100  CG  CG   4
3  chr1  15749  15750   0   1  -  15749  15750  255,0,0   1  100  CG  CG   4
4  chr1  15768  15769   0   1  +  15768  15769  255,0,0   1  100  CG  CG   4

In [7]:
bothdfmerged=df.merge(adf,left_on=['chr','start','end'],right_on=[0,1,2],how='left')
bothdfmerged.head(n=15)

,chr,start,end,met,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,chr1,15719,15721,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr1,15748,15750,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr1,15768,15770,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr1,15788,15790,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,15833,15835,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,chr1,15848,15850,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,chr1,16139,16140,100.0,chr1,16139.0,16140.0,0.0,1.0,-,16139.0,16140.0,"255,0,0",1.0,100.0,CG,CG,2.0
7,chr1,16141,16142,100.0,chr1,16141.0,16142.0,0.0,1.0,-,16141.0,16142.0,"255,0,0",1.0,100.0,CG,CG,2.0
8,chr1,16243,16244,100.0,chr1,16243.0,16244.0,0.0,1.0,-,16243.0,16244.0,"255,0,0",1.0,100.0,CG,CG,2.0
9,chr1,16554,16555,66.0,chr1,16554.0,16555.0,0.0,3.0,+,16554.0,16555.0,"255,155,0",3.0,66.0,CG,CG,3.0
10,chr1,16569,16570,100.0,chr1,16569.0,16570.0,0.0,2.0,+,16569.0,16570.0,"255,0,0",2.0,100.0,CG,CG,4.0
11,chr1,16730,16731,100.0,chr1,16730.0,16731.0,0.0,2.0,+,16730.0,16731.0,"255,0,0",2.0,100.0,CG,CG,4.0
12,chr1,16821,16822,100.0,chr1,16821.0,16822.0,0.0,1.0,+,16821.0,16822.0,"255,0,0",1.0,100.0,CG,CG,2.0
13,chr1,16868,16869,100.0,chr1,16868.0,16869.0,0.0,2.0,+,16868.0,16869.0,"255,0,0",2.0,100.0,CG,CG,4.0
14,chr1,29310,29311,0.0,chr1,29310.0,29311.0,0.0,1.0,-,29310.0,29311.0,"0,255,0",1.0,0.0,CG,CN,1.0

In [8]:
bothdfmerged[bothdfmerged[5]=='-']

,chr,start,end,met,0,1,2,3,4,5,6,7,8,9,10,11,12,13
6,chr1,16139,16140,100.0,chr1,16139.0,16140.0,0.0,1.0,-,16139.0,16140.0,"255,0,0",1.0,100.0,CG,CG,2.0
7,chr1,16141,16142,100.0,chr1,16141.0,16142.0,0.0,1.0,-,16141.0,16142.0,"255,0,0",1.0,100.0,CG,CG,2.0
8,chr1,16243,16244,100.0,chr1,16243.0,16244.0,0.0,1.0,-,16243.0,16244.0,"255,0,0",1.0,100.0,CG,CG,2.0
14,chr1,29310,29311,0.0,chr1,29310.0,29311.0,0.0,1.0,-,29310.0,29311.0,"0,255,0",1.0,0.0,CG,CN,1.0
15,chr1,29324,29325,0.0,chr1,29324.0,29325.0,0.0,1.0,-,29324.0,29325.0,"0,255,0",1.0,0.0,CG,CG,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,chr1,598764,598765,75.0,chr1,598764.0,598765.0,0.0,4.0,-,598764.0,598765.0,"255,105,0",4.0,75.0,CG,CG,4.0
810,chr1,598810,598811,80.0,chr1,598810.0,598811.0,0.0,5.0,-,598810.0,598811.0,"255,105,0",5.0,80.0,CG,CG,6.0
811,chr1,598818,598819,80.0,chr1,598818.0,598819.0,0.0,5.0,-,598818.0,598819.0,"255,105,0",5.0,80.0,CG,CG,6.0
812,chr1,598862,598863,83.0,chr1,598862.0,598863.0,0.0,6.0,-,598862.0,598863.0,"255,105,0",6.0,83.0,CG,CG,8.0
813,chr1,598915,598916,100.0,chr1,598915.0,598916.0,0.0,2.0,-,598915.0,598916.0,"255,0,0",2.0,100.0,CG,CG,4.0

In [9]:
adf.shape

(1000, 14)

In [10]:
df.shape

(814, 4)

In [11]:
bothdfmerged.shape

(814, 18)

In [12]:
bothdfmerged.rename(columns={5:'strand'},inplace=True)

In [13]:
#bothdfmerged.loc[bothdfmerged[bothdfmerged[5]=='+'],'end']=bothdfmerged.loc[bothdfmerged[bothdfmerged[5]=='+'],'end']+1
#bothdfmerged.loc[bothdfmerged[bothdfmerged['strand']=='+']]
bothdfmerged.loc[bothdfmerged['strand']=='+','end']=bothdfmerged.loc[bothdfmerged['strand']=='+','end']+1
bothdfmerged.loc[bothdfmerged['strand']=='-','start']=bothdfmerged.loc[bothdfmerged['strand']=='-','start']-1

In [14]:
df=bothdfmerged[['chr', 'start', 'end', 'met']].copy()

In [15]:

df['met'] = np.array(df['met']) / 100

In [16]:
df.to_csv(outfol + '/' + file.split('/')[-1], sep='\t', index=None, header=None)