In [1]:
import pandas as pd
import os

infile='/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/tieredApproach/BL22_groupv2/All/Alllinked/towardsFinalRef/allct_towardsSM_dummy_mean_SM.txt_unique_withmincol.txt'


outdir=infile+"_ctpos"
os.mkdir(outdir)
indf=pd.read_csv(infile,sep='\t')

indf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,em8-others,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others,mincolname
0,chr1,6012593,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.800627,0.9,0.9,0.9,0.9,ed8-others
1,chr1,10525350,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.871885,0.9,0.9,0.9,0.9,ed8-others
2,chr1,10525356,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.870743,0.9,0.9,0.9,0.9,ed8-others
3,chr1,10525449,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.873007,0.9,0.9,0.9,0.9,ed8-others
4,chr1,13765075,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,0.9,-0.820474,0.9,0.9,0.9,0.9,ed8-others

In [2]:
indf['end']=indf['start']+2
indf.head()

,chrom,start,NaiveCD4-others,NaiveCD8-others,nB-others,NK-others,PC-others,Mono-others,M0-others,M1-others,...,Eo-others,Tregs-others,em4-others,ed8-others,Mg-others,cm4-others,Er-others,mB-others,mincolname,end
0,chr1,6012593,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.800627,0.9,0.9,0.9,0.9,ed8-others,6012595
1,chr1,10525350,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.871885,0.9,0.9,0.9,0.9,ed8-others,10525352
2,chr1,10525356,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.870743,0.9,0.9,0.9,0.9,ed8-others,10525358
3,chr1,10525449,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.873007,0.9,0.9,0.9,0.9,ed8-others,10525451
4,chr1,13765075,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,...,0.9,0.9,0.9,-0.820474,0.9,0.9,0.9,0.9,ed8-others,13765077

In [3]:
grouped=indf.groupby('mincolname')
for name, group in grouped:
    tempdf=group[['chrom','start','end']]
    ctname=name.replace('-others','')
    
    outname=outdir+"/"+ctname
    tempdf.to_csv(outname,sep='\t',index=False, header=False)