In [1]:
import pandas as pd
from collections import defaultdict
import sys
import time
start_time = time.time()

infile="/Users/irffanalahi/Research/Research_update/SoftRD/hashtable_stats/uisnglinux/BL14_all_matrixCin_nr0.4_imputed_rowmean.txt_bg_othermean_backup_nohead_interwithgeneprom1000_1000.txt"


outfile=infile

indf=pd.read_csv(infile,sep="\t",header=None)



indf.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,chr1,687193,687195,0.790333,0.874000,0.844500,0.672667,0.936333,0.968333,0.4645,...,0.191782,0.226244,-0.316346,0.187833,0.123577,-0.131115,-0.231808,0.016423,-0.078346,-0.148167
1,chr1,687328,687330,1.000000,0.976333,0.958333,0.909000,0.955667,0.977667,0.6560,...,0.087718,0.111410,-0.235000,0.080179,0.075692,-0.238231,-0.095538,-0.043846,-0.043846,-0.072026
2,chr1,922981,922983,0.958333,0.945667,0.943000,0.955000,0.987667,0.964667,0.9245,...,0.045474,0.020705,-0.022551,-0.010167,0.020526,-0.011782,-0.019321,0.009218,-0.005321,-0.048577
3,chr1,922991,922993,0.967000,0.956000,0.933000,0.943667,0.959333,0.945000,0.9305,...,0.012885,-0.002551,-0.018167,0.037654,0.011449,-0.039167,-0.021397,0.027603,0.000141,-0.019423
4,chr1,923025,923027,0.852000,0.828000,0.790000,0.796667,0.658333,0.649333,0.7040,...,-0.084628,-0.094321,-0.035449,0.074756,-0.041910,-0.010679,-0.049987,0.062551,0.017321,-0.181192

In [2]:
allcomuns=['chrom','start','end','CD4','CD8','nB','NK','Mn','mNeu','m8','DC','Eo','Tr','m4','Mg','Er','mB','CD4-others','CD8-others','nB-others','NK-others','Mn-others','mNeu-others','m8-others','DC-others','Eo-others','Tr-others','m4-others','Mg-others','Er-others','mB-others']

In [3]:
len(allcomuns)

31

In [4]:
indf.shape

(10676194, 31)

In [5]:
indf.columns =allcomuns
indf.set_index(['chrom','start','end'],inplace=True)
indf.head()

                          CD4       CD8        nB        NK        Mn  \
chrom start  end
chr1  687193 687195  0.790333  0.874000  0.844500  0.672667  0.936333
      687328 687330  1.000000  0.976333  0.958333  0.909000  0.955667
      922981 922983  0.958333  0.945667  0.943000  0.955000  0.987667
      922991 922993  0.967000  0.956000  0.933000  0.943667  0.959333
      923025 923027  0.852000  0.828000  0.790000  0.796667  0.658333

                         mNeu      m8        DC      Eo      Tr  ...  \
chrom start  end                                                 ...
chr1  687193 687195  0.968333  0.4645  0.932667  0.8730  0.6365  ...
      687328 687330  0.977667  0.6560  0.948667  0.9445  0.6530  ...
      922981 922983  0.964667  0.9245  0.936000  0.9645  0.9345  ...
      922991 922993  0.945000  0.9305  0.982333  0.9580  0.9110  ...
      923025 923027  0.649333  0.7040  0.806333  0.6980  0.7270  ...

                     Mn-others  mNeu-others  m8-others  DC-others  Eo-others  \
chrom start  end
chr1  687193 687195   0.191782     0.226244  -0.316346   0.187833   0.123577
      687328 687330   0.087718     0.111410  -0.235000   0.080179   0.075692
      922981 922983   0.045474     0.020705  -0.022551  -0.010167   0.020526
      922991 922993   0.012885    -0.002551  -0.018167   0.037654   0.011449
      923025 923027  -0.084628    -0.094321  -0.035449   0.074756  -0.041910

                     Tr-others  m4-others  Mg-others  Er-others  mB-others
chrom start  end
chr1  687193 687195  -0.131115  -0.231808   0.016423  -0.078346  -0.148167
      687328 687330  -0.238231  -0.095538  -0.043846  -0.043846  -0.072026
      922981 922983  -0.011782  -0.019321   0.009218  -0.005321  -0.048577
      922991 922993  -0.039167  -0.021397   0.027603   0.000141  -0.019423
      923025 923027  -0.010679  -0.049987   0.062551   0.017321  -0.181192

[5 rows x 28 columns]

In [6]:
scorecolumns=['CD4-others','CD8-others','nB-others','NK-others','Mn-others','mNeu-others','m8-others','DC-others','Eo-others','Tr-others','m4-others','Mg-others','Er-others','mB-others']


indf=indf[scorecolumns]
indf.head()

                     CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start  end
chr1  687193 687195    0.034551    0.124654   0.092885  -0.092167   0.191782
      687328 687330    0.135462    0.109974   0.090590   0.037462   0.087718
      922981 922983    0.013885    0.000244  -0.002628   0.010295   0.045474
      922991 922993    0.021141    0.009295  -0.015474  -0.003987   0.012885
      923025 923027    0.123936    0.098090   0.057167   0.064346  -0.084628

                     mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start  end
chr1  687193 687195     0.226244  -0.316346   0.187833   0.123577  -0.131115
      687328 687330     0.111410  -0.235000   0.080179   0.075692  -0.238231
      922981 922983     0.020705  -0.022551  -0.010167   0.020526  -0.011782
      922991 922993    -0.002551  -0.018167   0.037654   0.011449  -0.039167
      923025 923027    -0.094321  -0.035449   0.074756  -0.041910  -0.010679

                     m4-others  Mg-others  Er-others  mB-others
chrom start  end
chr1  687193 687195  -0.231808   0.016423  -0.078346  -0.148167
      687328 687330  -0.095538  -0.043846  -0.043846  -0.072026
      922981 922983  -0.019321   0.009218  -0.005321  -0.048577
      922991 922993  -0.021397   0.027603   0.000141  -0.019423
      923025 923027  -0.049987   0.062551   0.017321  -0.181192

In [7]:
negindf=-1*indf
negindf.head()

                     CD4-others  CD8-others  nB-others  NK-others  Mn-others  \
chrom start  end
chr1  687193 687195   -0.034551   -0.124654  -0.092885   0.092167  -0.191782
      687328 687330   -0.135462   -0.109974  -0.090590  -0.037462  -0.087718
      922981 922983   -0.013885   -0.000244   0.002628  -0.010295  -0.045474
      922991 922993   -0.021141   -0.009295   0.015474   0.003987  -0.012885
      923025 923027   -0.123936   -0.098090  -0.057167  -0.064346   0.084628

                     mNeu-others  m8-others  DC-others  Eo-others  Tr-others  \
chrom start  end
chr1  687193 687195    -0.226244   0.316346  -0.187833  -0.123577   0.131115
      687328 687330    -0.111410   0.235000  -0.080179  -0.075692   0.238231
      922981 922983    -0.020705   0.022551   0.010167  -0.020526   0.011782
      922991 922993     0.002551   0.018167  -0.037654  -0.011449   0.039167
      923025 923027     0.094321   0.035449  -0.074756   0.041910   0.010679

                     m4-others  Mg-others  Er-others  mB-others
chrom start  end
chr1  687193 687195   0.231808  -0.016423   0.078346   0.148167
      687328 687330   0.095538   0.043846   0.043846   0.072026
      922981 922983   0.019321  -0.009218   0.005321   0.048577
      922991 922993   0.021397  -0.027603  -0.000141   0.019423
      923025 923027   0.049987  -0.062551  -0.017321   0.181192

In [8]:
alldelta=[.05,.1,.5,.6,.7,.8,0.9]

In [9]:
scorecolumns=negindf.columns

In [10]:
celltypeStats=defaultdict(list)

allindex=defaultdict(list)
for score in scorecolumns:

    for delta in alldelta:
        tmpdf=negindf[negindf[score]>=delta]
        allindex[delta]=allindex[delta]+tmpdf.index.tolist()
        
        celltypeStats[score]=celltypeStats[score]+[tmpdf.shape[0]]

In [11]:
celltypeStatsdf=pd.DataFrame.from_dict(celltypeStats, orient='index',columns=alldelta)
celltypeStatsdf.index.name = 'Celltype'
celltypeStatsdf.head()

              0.05    0.10   0.50   0.60   0.70  0.80  0.90
Celltype
CD4-others  236208  108499  10048   3699    654    31     0
CD8-others  317332  128500   9646   2618    374    12     0
nB-others   368908  193609  33230  22611  13657  5997   141
NK-others   720622  360157  38658  23567  12588  4811   276
Mn-others   585110  343957  55428  32918  14135  2030     5

In [12]:
celltypeStatsdf.to_csv(outfile+"_stats.txt",sep="\t")

In [13]:
alluniqueindex=defaultdict(list)
for key in allindex:
    alluniqueindex[key]=list(set(allindex[key]))

In [14]:
selected=0.7

In [15]:
sm=indf.loc[alluniqueindex[selected]]

In [16]:
smonlyindex=sm.reset_index()
smonlyindex.head()

,chrom,start,end,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr20,50817035,50817037,0.096064,0.107551,-0.111782,0.084218,0.124064,0.098218,0.075423,0.117244,0.087808,0.033962,0.086192,0.036654,0.073269,-0.908885
1,chr22,29420702,29420704,0.231231,0.186359,0.086564,0.152615,0.098410,-0.135282,0.217410,-0.063846,-0.734590,0.161410,0.159795,0.089256,0.126410,-0.575744
2,chr16,90034360,90034362,0.298397,0.279013,0.322449,0.168090,-0.716064,-0.720013,0.260167,-0.604782,-0.555603,0.291936,0.233244,0.250474,0.224090,0.268603
3,chr3,9691341,9691343,0.253308,0.208795,-0.783410,-0.652385,0.195154,0.204487,0.130897,0.175769,0.204128,0.221897,0.189590,0.277359,0.157821,-0.783410
4,chr10,63295120,63295122,0.286295,0.299577,0.258654,0.248962,-0.656372,-0.769449,0.250038,-0.540782,-0.706808,0.299577,0.233885,0.276962,0.226346,0.293115

In [17]:
smonlyindex=(smonlyindex[['chrom','start','end']]).copy()
smonlyindex.head()

   chrom     start       end
0  chr20  50817035  50817037
1  chr22  29420702  29420704
2  chr16  90034360  90034362
3   chr3   9691341   9691343
4  chr10  63295120  63295122

In [18]:
smonlyindex['startoffset']=smonlyindex['start']-10
smonlyindex['endoffset']=smonlyindex['end']+10

smonlyindex.head()

   chrom     start       end  startoffset  endoffset
0  chr20  50817035  50817037     50817025   50817047
1  chr22  29420702  29420704     29420692   29420714
2  chr16  90034360  90034362     90034350   90034372
3   chr3   9691341   9691343      9691331    9691353
4  chr10  63295120  63295122     63295110   63295132

In [19]:
smonlyindex=smonlyindex.drop(['start','end'],axis=1)

smonlyindex.head()

   chrom  startoffset  endoffset
0  chr20     50817025   50817047
1  chr22     29420692   29420714
2  chr16     90034350   90034372
3   chr3      9691331    9691353
4  chr10     63295110   63295132

In [20]:
if smonlyindex[smonlyindex.duplicated()].shape[0]!=0:
    sys.exit(1)

In [21]:
smonlyindex.to_csv(outfile+"_sm_forbam"+str(selected)+".txt",sep="\t",header=False,index=False)

In [22]:
sm=sm.reset_index()

In [23]:
sm=sm.drop(['end'],axis=1)
sm.head()

,chrom,start,CD4-others,CD8-others,nB-others,NK-others,Mn-others,mNeu-others,m8-others,DC-others,Eo-others,Tr-others,m4-others,Mg-others,Er-others,mB-others
0,chr20,50817035,0.096064,0.107551,-0.111782,0.084218,0.124064,0.098218,0.075423,0.117244,0.087808,0.033962,0.086192,0.036654,0.073269,-0.908885
1,chr22,29420702,0.231231,0.186359,0.086564,0.152615,0.098410,-0.135282,0.217410,-0.063846,-0.734590,0.161410,0.159795,0.089256,0.126410,-0.575744
2,chr16,90034360,0.298397,0.279013,0.322449,0.168090,-0.716064,-0.720013,0.260167,-0.604782,-0.555603,0.291936,0.233244,0.250474,0.224090,0.268603
3,chr3,9691341,0.253308,0.208795,-0.783410,-0.652385,0.195154,0.204487,0.130897,0.175769,0.204128,0.221897,0.189590,0.277359,0.157821,-0.783410
4,chr10,63295120,0.286295,0.299577,0.258654,0.248962,-0.656372,-0.769449,0.250038,-0.540782,-0.706808,0.299577,0.233885,0.276962,0.226346,0.293115

In [24]:
if sm[sm.duplicated()].shape[0]!=0:
    sys.exit(1)

In [25]:
sm.to_csv(outfile+"_sm_"+str(selected)+".txt",sep="\t",index=False)

In [26]:
end_time = time.time()

time_elapsed = (end_time - start_time)

print(time_elapsed)

188.33763527870178