In [1]:
import pandas as pd
infile='/Users/irffanalahi/Research/Research_code/panel_design/distribution/mergetest/toy1.bed'
outfile=infile+"_offsetadded.txt"

offset=50
indf=pd.read_csv(infile,sep="\t",header=None)
indf.head()

      0      1      2                     3  4  5   6     7      8      9
0  chr1  64494  64496  chr1_64494_64496_for  2  +  CG  chr1  64419  72585
1  chr1  64562  64564  chr1_64562_64564_for  2  +  CG  chr1  64419  72585
2  chr1  64700  64702  chr1_64763_64765_for  2  +  CG  chr1  64419  72585
3  chr1  64899  64901  chr1_64899_64901_for  2  +  CG  chr1  64419  72585
4  chr1  65119  65121  chr1_65119_65121_for  2  +  CG  chr1  64419  72585

In [2]:
indf.rename(columns={0: 'chrom', 1: 'prevstart',2:'prevend'},inplace=True,errors='raise')
indf.head()

,chrom,prevstart,prevend,3,4,5,6,7,8,9
0,chr1,64494,64496,chr1_64494_64496_for,2,+,CG,chr1,64419,72585
1,chr1,64562,64564,chr1_64562_64564_for,2,+,CG,chr1,64419,72585
2,chr1,64700,64702,chr1_64763_64765_for,2,+,CG,chr1,64419,72585
3,chr1,64899,64901,chr1_64899_64901_for,2,+,CG,chr1,64419,72585
4,chr1,65119,65121,chr1_65119_65121_for,2,+,CG,chr1,64419,72585

In [3]:
indf['start']=indf['prevstart']-offset
indf['end']=indf['prevend']+offset
outdf=indf[['chrom','start','end']]
outdf.head()

  chrom  start    end
0  chr1  64444  64546
1  chr1  64512  64614
2  chr1  64650  64752
3  chr1  64849  64951
4  chr1  65069  65171

In [ ]:
outdf.to_csv(outfile,sep="\t",index=False,header=True)