In [1]:
import numpy as np
import pandas as pd
import random as ran
import os

In [2]:
file_cn = 'Data/pbltilMELtumor_abulmelMGI_PHENOCLASS.txt'

transpose = True
header = None
index_col= True



lower_lim = 0.9
upper_lim = 0.1


'''
lower_lim = -5
upper_lim = -2
'''

repetition = 3

mix_num = 10

outfol = file_cn+"_from_"+str(lower_lim)+"_to_"+str(upper_lim)+'_proportions'

In [3]:
if transpose:
    data_cn = pd.read_csv(file_cn, sep='\t', index_col=0, header=header)
else:
    data_cn = pd.read_csv(file_cn, sep='\t', header=header)

df_cn = pd.DataFrame(data_cn)

if transpose:
    df_cn = df_cn.T

df_cn.columns

Index(['PBL', 'TIL', 'MEL_TUMOR'], dtype='object', name=0)

In [4]:
def generate_list(cell_name, cell_list, val):
    length = len(cell_list)
    vals = np.zeros(length)
    r = [ran.random() for i in range(1,length)]
    s = sum(r)
    r = [ (i/s) * (100 - val) for i in r ]
    name_seen = False
    for i in range(length):
        if cell_list[i] != cell_name:
            if name_seen == False:
                vals[i] = r[i]
            elif name_seen:
                vals[i] = r[i - 1]
        elif cell_list[i] == cell_name:
            vals[i] = val
            name_seen = True
    return vals

In [5]:
mixtures = np.linspace(lower_lim, upper_lim, num=mix_num) * 100
#mixtures = np.logspace(lower_lim, upper_lim, num=mix_num) * 100
mixtures

array([90.        , 81.11111111, 72.22222222, 63.33333333, 54.44444444,
       45.55555556, 36.66666667, 27.77777778, 18.88888889, 10.        ])

In [6]:
os.mkdir(outfol)
df_final = pd.DataFrame(columns = list(df_cn.columns))

In [7]:
# os.mkdir(outfol)

for cell in list(df_cn.columns):
    df_out = pd.DataFrame(columns = list(df_cn.columns))
    for val in mixtures:
        for i in range(repetition):
            arr = generate_list(cell, list(df_cn.columns), val)
            while 0.0 in arr:
                arr = generate_list(cell, list(df_cn.columns), val)
            df_out.loc[len(df_out.index)] = arr
    display(df_out)
    df_out=df_out.round(6)
    df_final = pd.concat([df_final, df_out])
    
    
    df_out.to_csv(outfol + '/' + cell + '.txt', sep='\t', index=False)

          PBL        TIL  MEL_TUMOR
0   90.000000   5.183131   4.816869
1   90.000000   4.985085   5.014915
2   90.000000   7.521632   2.478368
3   81.111111   7.029267  11.859622
4   81.111111   2.605117  16.283772
5   81.111111   7.243547  11.645342
6   72.222222   3.429195  24.348583
7   72.222222  20.038681   7.739097
8   72.222222  16.001680  11.776098
9   63.333333   1.034951  35.631715
10  63.333333  22.668923  13.997743
11  63.333333  16.878869  19.787798
12  54.444444  17.461662  28.093894
13  54.444444  18.506067  27.049489
14  54.444444  37.309650   8.245906
15  45.555556   4.637915  49.806530
16  45.555556  26.725724  27.718720
17  45.555556  21.426323  33.018122
18  36.666667  62.308462   1.024872
19  36.666667   8.790789  54.542544
20  36.666667   2.376210  60.957123
21  27.777778  33.157115  39.065108
22  27.777778   5.330734  66.891489
23  27.777778  34.492885  37.729337
24  18.888889  39.815017  41.296094
25  18.888889   8.939013  72.172098
26  18.888889  34.027820  47.083291
27  10.000000  42.216831  47.783169
28  10.000000  35.824172  54.175828
29  10.000000  20.732181  69.267819

          PBL        TIL  MEL_TUMOR
0    6.709022  90.000000   3.290978
1    0.862826  90.000000   9.137174
2    5.493914  90.000000   4.506086
3   17.820920  81.111111   1.067969
4    8.706482  81.111111  10.182407
5   11.987661  81.111111   6.901228
6   20.296436  72.222222   7.481342
7   22.705212  72.222222   5.072566
8    8.037823  72.222222  19.739955
9   33.074877  63.333333   3.591789
10  21.250965  63.333333  15.415702
11   2.526177  63.333333  34.140490
12  43.520400  54.444444   2.035156
13  11.345110  54.444444  34.210445
14   2.112187  54.444444  43.443369
15  36.373894  45.555556  18.070551
16   0.441680  45.555556  54.002764
17  16.277130  45.555556  38.167315
18  41.912708  36.666667  21.420625
19   3.367194  36.666667  59.966139
20   3.615687  36.666667  59.717646
21  37.979439  27.777778  34.242784
22  63.992015  27.777778   8.230207
23  62.349233  27.777778   9.872989
24  25.699947  18.888889  55.411164
25  37.664528  18.888889  43.446583
26  63.844958  18.888889  17.266153
27  24.540109  10.000000  65.459891
28  11.705026  10.000000  78.294974
29  89.825267  10.000000   0.174733

          PBL        TIL  MEL_TUMOR
0    1.293233   8.706767  90.000000
1    4.691804   5.308196  90.000000
2    1.526138   8.473862  90.000000
3    8.242592  10.646297  81.111111
4    8.731763  10.157126  81.111111
5    8.761195  10.127694  81.111111
6   24.304739   3.473038  72.222222
7   15.244329  12.533449  72.222222
8   13.625037  14.152741  72.222222
9   11.862461  24.804205  63.333333
10  10.269682  26.396984  63.333333
11  15.065491  21.601175  63.333333
12  24.111842  21.443714  54.444444
13  20.811702  24.743853  54.444444
14  17.666179  27.889377  54.444444
15  20.703441  33.741004  45.555556
16  26.005659  28.438785  45.555556
17  27.610055  26.834389  45.555556
18  11.402614  51.930719  36.666667
19  36.117172  27.216161  36.666667
20  33.620181  29.713152  36.666667
21   2.087367  70.134855  27.777778
22  36.961587  35.260635  27.777778
23  19.180051  53.042171  27.777778
24   6.892885  74.218226  18.888889
25   4.669814  76.441297  18.888889
26  53.440996  27.670115  18.888889
27  59.089877  30.910123  10.000000
28  45.349022  44.650978  10.000000
29  68.648577  21.351423  10.000000

In [8]:
df_final.head()

         PBL       TIL  MEL_TUMOR
0  90.000000  5.183131   4.816869
1  90.000000  4.985085   5.014915
2  90.000000  7.521632   2.478368
3  81.111111  7.029267  11.859622
4  81.111111  2.605117  16.283772

In [9]:
df_final.to_csv(outfol + '/combined.txt', sep='\t', index=False)