In [1]:
import numpy as np
import pandas as pd
import random as ran
import os

In [2]:
file_cn = 'Data/pbltilMELtumor_abulmelMGI_PHENOCLASS.txt'

transpose = True
header = None
index_col= True



lower_lim = 0.01
upper_lim = 0.1


'''
lower_lim = -5
upper_lim = -2
'''

repetition = 3

mix_num = 5

outfol = file_cn+"_from_"+str(lower_lim)+"_to_"+str(upper_lim)+'_proportions'

In [3]:
if transpose:
    data_cn = pd.read_csv(file_cn, sep='\t', index_col=0, header=header)
else:
    data_cn = pd.read_csv(file_cn, sep='\t', header=header)

df_cn = pd.DataFrame(data_cn)

if transpose:
    df_cn = df_cn.T

df_cn.columns

Index(['PBL', 'TIL', 'MEL_TUMOR'], dtype='object', name=0)

In [4]:
def generate_list(cell_name, cell_list, val):
    length = len(cell_list)
    vals = np.zeros(length)
    r = [ran.random() for i in range(1,length)]
    s = sum(r)
    r = [ (i/s) * (100 - val) for i in r ]
    name_seen = False
    for i in range(length):
        if cell_list[i] != cell_name:
            if name_seen == False:
                vals[i] = r[i]
            elif name_seen:
                vals[i] = r[i - 1]
        elif cell_list[i] == cell_name:
            vals[i] = val
            name_seen = True
    return vals

In [5]:
mixtures = np.linspace(lower_lim, upper_lim, num=mix_num) * 100
#mixtures = np.logspace(lower_lim, upper_lim, num=mix_num) * 100
mixtures

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [6]:
os.mkdir(outfol)
df_final = pd.DataFrame(columns = list(df_cn.columns))

In [7]:
# os.mkdir(outfol)

for cell in list(df_cn.columns):
    df_out = pd.DataFrame(columns = list(df_cn.columns))
    for val in mixtures:
        for i in range(repetition):
            arr = generate_list(cell, list(df_cn.columns), val)
            while 0.0 in arr:
                arr = generate_list(cell, list(df_cn.columns), val)
            df_out.loc[len(df_out.index)] = arr
    display(df_out)
    df_out=df_out.round(6)
    df_final = pd.concat([df_final, df_out])
    
    
    df_out.to_csv(outfol + '/' + cell + '.txt', sep='\t', index=False)

      PBL        TIL  MEL_TUMOR
0    1.00  38.123651  60.876349
1    1.00  69.692335  29.307665
2    1.00  58.312263  40.687737
3    3.25  83.471998  13.278002
4    3.25  31.812078  64.937922
5    3.25  47.617655  49.132345
6    5.50  80.039573  14.460427
7    5.50  53.385504  41.114496
8    5.50  56.373753  38.126247
9    7.75   0.340336  91.909664
10   7.75  32.141681  60.108319
11   7.75  66.385679  25.864321
12  10.00  26.281233  63.718767
13  10.00   1.434858  88.565142
14  10.00  64.615870  25.384130

          PBL    TIL  MEL_TUMOR
0   48.684926   1.00  50.315074
1   58.345738   1.00  40.654262
2   26.759888   1.00  72.240112
3   77.575932   3.25  19.174068
4   30.216622   3.25  66.533378
5   63.595513   3.25  33.154487
6   41.406642   5.50  53.093358
7   23.008261   5.50  71.491739
8    6.796436   5.50  87.703564
9   76.508470   7.75  15.741530
10   8.896383   7.75  83.353617
11  27.681471   7.75  64.568529
12  42.673249  10.00  47.326751
13  68.682621  10.00  21.317379
14  52.159890  10.00  37.840110

          PBL        TIL  MEL_TUMOR
0   55.272053  43.727947       1.00
1   67.551010  31.448990       1.00
2   17.648240  81.351760       1.00
3   45.850576  50.899424       3.25
4   62.813692  33.936308       3.25
5   61.861508  34.888492       3.25
6   46.158945  48.341055       5.50
7   40.591254  53.908746       5.50
8    9.169932  85.330068       5.50
9   60.765602  31.484398       7.75
10  51.140906  41.109094       7.75
11  47.691218  44.558782       7.75
12  66.654659  23.345341      10.00
13  45.778779  44.221221      10.00
14  64.418849  25.581151      10.00

In [8]:
df_final.head()

    PBL        TIL  MEL_TUMOR
0  1.00  38.123651  60.876349
1  1.00  69.692335  29.307665
2  1.00  58.312263  40.687737
3  3.25  83.471998  13.278002
4  3.25  31.812078  64.937922

In [9]:
df_final.to_csv(outfol + '/combined.txt', sep='\t', index=False)